* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main section {
    padding: 1.7rem 0;
}

nav {
    background-color: orange;
    display: flex;
    height: 1.7rem;
    justify-content: space-between;
    margin: 0 12rem;
    padding: 0 0.5rem;
}

nav div {
    display: flex;
    align-items: center;
}

.background-gray {
    background-color: gray;
}

.background-green {
    background-color: green;
}

.big-content {
    flex-basis: 60%;
    background-color: lightskyblue;
}

.content-box {
    display: flex;
    height: 16.7rem;
    justify-content: space-between;
    margin: 0 12rem;
}

.header-banner-box {
    background-color: blue;
    padding: 1.7rem 0;
}

.header-banner-box div {
    background-color: #ee82ee;
    height: 13.3rem;
    margin: 0 16.8rem;
}

.logo, .login {
    flex-basis: calc(20% - 1rem);
}

.login {
    justify-content: flex-end;
}

.nav-box {
    background-color: lightskyblue;
    padding: 0.5rem 0;
}

.nav-links {
    flex-basis: 60%;
    justify-content: center;
}

.small-content {
    flex-basis: 40%;
    background-color: pink;
}

.long {
    height: 29.9rem;
}