* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #23272a;
}

main section {
    padding: 1.7rem 0;
}

nav {
    background-color: orange;
    display: flex;
    height: 1.7rem;
    justify-content: space-between;
    margin: 0 12rem;
}

nav div {
    display: flex;
    align-items: center;
}

.background-gray {
    background-color: gray;
}

.background-green {
    background-color: green;
}

.big-content {
    flex-basis: 60%;
    background-color: lightskyblue;
}

.bottom-content-box-lenght div{
    background-color: #ffb6c1;
    margin: auto 0;
}

.footer-bottom {
    padding-top: 0.5rem;
}

.footer-bottom .bottom-content-box-lenght {
    background-color: #7fffd4;
    height: 3rem;
}

.content-box {
    display: flex;
    height: 16.7rem;
    justify-content: space-between;
    margin: 0 12rem;
}
.footer-top {
    border-bottom: 1px solid white;
    padding: 0.3rem 0 1.7rem 0;
}

.header-banner-box {
    background-color: blue;
    padding: 1.7rem 0;
}

.header-banner-box div {
    background-color: #ee82ee;
    height: 13.3rem;
    margin: 0 16.8rem;
}

.logo, .login {
    flex-basis: 20%;
}

.login {
    justify-content: flex-end;
}

.nav-box {
    background-color: lightskyblue;
    padding: 0.5rem 0;
}

.nav-links {
    flex-basis: 60%;
    justify-content: center;
}

.small-content {
    flex-basis: 40%;
    background-color: pink;
}

main .long {
    height: 29.9rem;
}

.top-content-box-lenght {
    background-color: #20b2aa;
    height: 19.3rem;
}

.top-content-box-lenght div{
    flex-basis: calc(100%/6);
}

div .double-width {
    background-color: #f08080;
    flex-basis: calc(100%/3)
}